@model Q.Models.QuestionViewModel

@{
    ViewData["Title"] = "Create Question";
}

<h1>Create Question</h1>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="QuizId" value="@ViewBag.QuizId" />
    <div class="form-group">
        <label asp-for="Text" class="control-label"></label>
        <input asp-for="Text" class="form-control" />
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index" asp-controller="Question">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}