@model Q.Models.Question

@{
    ViewData["Title"] = "Question Details";
}

<h1>Question Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">
            Answers
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var answer in Model.Answers)
                {
                    <li>@answer.Text</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>